@import "../../utils/colors.css";

.link {
	text-decoration: none;
}
.icon {
	fill: var(--dark100);
	color: var(--dark100);
	transition: 0.3s;
	display: flex;
	align-items: center;

}

.icon:hover {
	fill: var(--white);
	color: var(--white);
}