@import "../../utils/colors.css";

.root {
	background-color: var(--second);
	padding-bottom: 100px;
	padding-top: 100px;
}

.main {
	background-color: var(--main);
}

.second {
	background-color: var(--second);
}
