@import "../../utils/colors.css";

.center {
	display: flex;
	justify-content: center;
	padding-top: 25px;
}

.smallPadding {
	padding-top: 25px;
}

.colorMain {
	color: var(--main);
}

.end {
	display: flex;
	justify-content: flex-end;
	padding-top: 25px;
}

.link {
	text-decoration: none;
	color: var(--second);
}

.link:hover {
	text-decoration: none;
	color: var(--second);
}

.btn {
	background-color: var(--main);
	border-color: var(--main);
	color: var(--second);
	font-size: 25px;
}

.btn:hover {
	background-color: var(--main2);
	border-color: var(--main2);
	color: var(--second);
}

.noDec {
	text-decoration: none;
}
