@import "../../utils/globalConsts/colors.css";

/* .root {
	padding-left: 0%;
}

.sidebar {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 15%;
	min-width: 150px;
}

.content {
	margin-left: 20%;
	margin-right: 5%;
	width: 75%;
	padding-top: 100px;
} */

@media (min-width: 576px) {
  .sidebar {
    position: fixed;
  }
}

.border {
  border-left: 1px solid var(--dark200);
  padding: 0px 40px 0px 40px;
}
